@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
body {
    background-color: #06090f;
    padding-top: 50px;
    padding-bottom: 20px;
    color:whitesmoke;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    background-color: #161b22;
    border: none;
    box-shadow: 0 6px 12px #dadada;
}

.navbar-inverse .navbar-brand:hover {
    color: darkgrey;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: darkgrey;
}

.navbar-inverse .navbar-brand {
    color: whitesmoke;
    font-family: Monoton;
    font-size: 3rem;
}

.navbar-inverse .navbar-nav > li > a {
    color: whitesmoke;
}

#SearchString {
    background-color: #06090f;
}

.navbar{
    box-shadow:none;
}

.panel-default{
    border-color:darkblue;
}

.panel-default > .panel-heading {
    color: #ffffff;
    background-color: #0d1117;
    border:none;
}

.panel-heading {
    background-color: #0d1117;
}

.panel-body {
    background-color: #0d1117;
}

.panel-footer {
    background-color: #0d1117;
    border:none;
}

.panel {
    background-color: #0d1117;
}

hr{
    border-top: 1px solid #808080;
}

.btn-success {
    background-color: #238636;
}

.modal{
    color:black;
}

.settingsBtn {
    display: inline-block;
    width: 32px;
    height: 32px;
}