@model IDK.Models.Tag
<br />
<h2>Name: @Model.TagName</h2>
<br />
<h3>Description: </h3>
@Html.Raw(Model.Description)
<br />
<form method="post" action="/Tags/Delete/@Model.Id">
    @*form pt delete tag*@
    @Html.HttpMethodOverride(HttpVerbs.Delete)
    <button class="glyphicon glyphicon-trash" style="border: none; background: transparent" type="submit"></button>
</form>