@using IDK.Models
@model Question

<div class="sortare">
    <p>Sort by:</p>
   
    <form style="display:contents" action="/Questions/@ViewBag.Method?dateBox=@(ViewBag.Sort["dateBox"])">
        <div class="form-group">
            <input type="checkbox" id="dateBox" name="dateBox" value="dateCheck" @((ViewBag.Sort["dateBox"] == "dateCheck") ? "checked" : "")>

            <label for="dates">Date:</label>
            <select name="dates" id="dates" style="background-color:#0d1117">
                @try
                {
                    if (ViewBag.Sort["dates"].Equals("desc"))
                    {
                        <option value="asc">Asc</option>
                        <option value="desc" selected>Desc</option>
                    }
                    else
                    {
                        <option value="asc" selected>Asc</option>
                        <option value="desc">Desc</option>
                    }
                }
                catch (Exception)
                {
                    <option value="asc" selected>Asc</option>
                    <option value="desc">Desc</option>
                }

            </select>
        </div>
        <div class="form-group">
            <input type="checkbox" id="ansBox" name="ansBox" value="ansCheck" @((ViewBag.Sort["ansBox"] == "ansCheck") ? "checked" : "")>

            <label for="ansBox">Number of answers:</label>
            <select name="ans" id="ans" style="background-color:#0d1117">
                @try
                {
                    if (ViewBag.Sort["ans"].Equals("desc"))
                    {
                        <option value="asc">Asc</option>
                        <option value="desc" selected>Desc</option>
                    }
                    else
                    {
                        <option value="asc" selected>Asc</option>
                        <option value="desc">Desc</option>
                    }
                }
                catch (Exception)
                {
                    <option value="asc" selected>Asc</option>
                    <option value="desc">Desc</option>
                }

            </select>
            <br>
            <input type="submit" value="Sort" class="btn btn-success">
            </div>
    </form>

</div>
<br>